{# NOTE:(khanh):
	This page prompts a user to join a course, 
	params: 
		enroll: Enrollment
#}
{% set is_courses_join_active = True %}
{% extends "base.html" %}

{% block content %}
{# NOTE:(khanh): Bryan's code #}
	<!-- Logic: Show the list of courses a student is enrolled in - with its attributes and an option to drop -->
	<p> Your Currently Enrolled Courses </p>
	{% if studentEnrollments %}
	<!-- Start of the table structure -->
	<table class="cool-bg">
		<!-- Table Header Row -->
		<thead>
			<tr>
				<th>Course Name</th>
				<th>Units</th>
				<th>Professor</th>
				<th>Maximum Capacity</th>
				<th>Enrollment Count</th>
				<th>Grade</th>
				<th>Actions</th>
			</tr>
		</thead>
		<!-- Table Body: Loop through the courses here -->
		<tbody>
			{% for enroll in studentEnrollments %}
			<tr>
				<!-- Logic: enroll has attributes course_id, student_id and course_grade. If we want to reference
					Course information, use enroll.courses. If we want to reference Student info, use enroll.students-->
					<td>{{ enroll.courses.name }}</td>
					<td>{{ enroll.courses.units }}</td>
					<td>{{ enroll.courses.teacher.username }}</td>
					<td>{{ enroll.courses.max_capacity }}</td>
					<td>{{ enroll.courses.students_enrolled }}</td>
					<td>{{ enroll.course_grade }} </td>
					<td>
						<form action="" method="POST">
							{{ enrollForm.hidden_tag() }}
							<!-- CRITICAL TO ADD THIS TO RETRIEVE CURRENT COURSE ID -->
							<input type="hidden" name="course_id" value="{{enroll.courses.id}}">
							<p>
							{{ enrollForm.submit(value="Drop") }}
							</p>
						</form>
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<p> Units Enrolled In: {{ student.units_enrolled }} </p>



	<div class="cool-bg top-divider">
		<br>
		<h2 class="animated-rainbow-text"> Available Courses: </h2>
		<hr class="bottom-divider">
	</div>

    <!-- This block is purely for printing the list of ALL courses in the database. -->
    {% for course in courses %}
		<div class="cool-bg bottom-divider">
			<p class="title">
				<strong>{{course.name}}</strong>
			</p>
			<textarea readonly class="announce_ronly">{{course.description}}</textarea><br>
					<p class="title">  <strong> Units: {{course.units}} </strong> </p>
					<p class="title"> Professor: {{course.teacher.username}} </p>
					<p class="title"> Maximum Capacity: {{course.max_capacity}} </p>
					<p class="title"> Enrollment Count: {{course.students_enrolled}} </p>
			{% if isStudent %}
			<form action="" method="POST">
				{{ enrollForm.hidden_tag() }}
							<!-- CRITICAL TO ADD THIS TO RETRIEVE CURRENT COURSE ID -->
							<input type="hidden" name="course_id" value="{{course.id}}">
				<p>
					{{ enrollForm.submit() }}
				</p>
			</form>
			{% endif %}
		</div>
	{% endfor %}


{% endblock %}

