{% extends "base.html" %}

{% block nav %}
	<h1> Welcome to Simpler Canvas! </h1>

	<nav>
		<ul>
			<li><a href="/redirect"> Home Page </a></li>
			<li><a href="/feature_redirect"> Demo </a></li>
			<li><a href="/login_redirect"> Login </a></li>
            <li><a href="/people"> People </a></li>
		</ul>
	</nav>

	<p> Click the links above to navigate our site! </p>

<p></p>
<p> Simpler Canvas is a simplistic approach that is intuitive and welcoming to new students! This robust app easily communicates to students and instructors alike course information in an easy-to-understand format.
 </p>

{% endblock %}
