:root {
	--font-color: #eeeeee;
	--background-color-image: linear-gradient(to left top, #202045, #254040) /*#222222*/;
	--navbar-background-color-image: linear-gradient(to left top, #E1AD01, #C76E00);
	--header-font-color: var(--background-color);
	--link-color: #4747ff;
	--link-color-visited: #cb7cff;
	--link-color-active: #FF0000;
	--link-color-hover: #c48cff;
	--font-family: "Cascadia Mono", monospace;
	--text-area-bg-color: linear-gradient(to left top, #3d5043, #615545);
}

h1 {
	text-align: center;
}

body {
	text-align: center;
	background-image: var(--background-color-image);
	color: var(--font-color);
	font-family: var(--font-family);
	height: 100%;
}

p {
	font-family: var(--font-family);
	font-size: 20px;
}

table {
    width: 100%;
    text-align: center;
}

a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-color-visited);
}
a:active {
	color: var(--link-color);
}
a:hover {
	color: var(--link-color-hover);
}


textarea {
	width: 70%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-image: var(--text-area-bg-color);
	resize: none;
	color: var(--font-color);
	font-size: 17;
}
.announce_ronly {
	color: var(--font-color);
	background-color: transparent;
	background-image: none;
	field-sizing: content;
	box-sizing: content;
	height: content;
	overflow: auto;
	word-wrap: break-word;
	border: none;
	border-radius: none;
}
.small-note {
	color: var(#aaAaAa);
	font-size: 12;
}
.title {
	color: #e09d46;
	font-size: 30;
}
.animated-rainbow-text {
    font-size: 42px;
    font-family: Arial Black, Gadget, sans-serif;
    animation: rainbow-color-change 3s linear infinite alternate;
}
@keyframes rainbow-color-change {
    0%, 100% { color: #ff0000; } /* Red */
    14% { color: #ff8b00; } /* Orange */
    28% { color: #e8ff00; } /* Yellow */
    42% { color: #5dff00; } /* Green */
    56% { color: #00b9ff; } /* Blue */
    70% { color: #5d00ff; } /* Indigo */
    84% { color: #e800ff; } /* Violet */
}

.navbar-bg-color {
	background-image: var(--navbar-background-color-image);
}
.cool-bg {
	background-image: var(--background-color-image);
}
