:root {
	--text-color: #CcCcCc;
	--background-color: #222222;
	--header-text-color: var(--background-color);
	--link-color: #4747ff;
	--link-color-visited: #ab5cff;
	--link-color-active: #FF0000;
	--link-color-hover: #c48cff;
	--font-family: "Cascadia Mono", monospace;
	--text-area-bg-color: #f8f8f8;
}

h1 {
	text-align: center;
}

body {
	text-align: center;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
}

p {
	font-family: var(--font-family);
	font-size: 20px;
}

a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-color-visited);
}
a:active {
	color: var(--link-color);
}
a:hover {
	color: var(--link-color-hover);
}

textarea {
	width: 70%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: var(--text-area-bg-color);
	resize: none;
	font-size: 16;
}
.announce_ronly {
	color: var(--text-color);
	background-color: var(--background-color);
	field-sizing: content;
	box-sizing: content;
	height: content;
	overflow: auto;
	word-wrap: break-word;
	border: none;
	border-radius: none;
}
.timestamp {
	font-size: 12;
}

