
{# NOTE:(khanh): all call to render template must pass in 'username' 
	since base.html (this file) uses it to display the courses
#}

{% macro redirectable_link(is_what_active, normal, redirect) %}
	{% if is_what_active %}
		{{redirect}}
	{% else %}
		{{normal}}
	{% endif %}
{% endmacro %}

{% macro set_active_if(is_page_active) %}
	{% if is_page_active %} active {% endif %}
{% endmacro %}

{% macro dropdown_item(is_page_active) %}
	"nav-link navbar-bg-color {{set_active_if(is_page_active)}}"
{% endmacro %}

{% macro announcements_navbar_item() %}
	<li class="nav-item {{set_active_if(is_announcements_active)}}">
		<a class="nav-link" href={{redirectable_link(is_announcements_active, "/announcements", "/announcements_redirect")}}> 
			Announcements 
		</a>
	</li>
{% endmacro %}

{% macro people_navbar_item() %}
	<li class="nav-item {{set_active_if(is_people_active)}}">
		<a class="nav-link" href="/people"> 
			People 
		</a>
	</li>
{% endmacro %}

{% macro courses_navbar_item() %}
	{# RANT:(khanh): My FUCKING GOD, Bootstrap does come with a dropdown menu, but WITHOUT hover. 
		It would actually be SIMPLER to make hoverable dropdown menu in pure CSS and HTML. 
		God I fucking hate web programming
	#}
	<li class="nav-item {{set_active_if(is_courses_active)}}">
		<a class="nav-link" href="/courses"> 
			Courses 
		</a>
	</li>
	{# TODO:(khanh): dropdown menu for course creation, list
		ok shit this requires a fuck ton of rewrite, can't be bothered to do this at 3:30am rn

	<li class="nav-item dropdown {{set_active_if(is_course_list_active or is_course_create_active)}}">
		<button class="nav-link dropbtn">
			My Courses
		</button>
		<div class="navbar-bg-color dropdown-content">
			{% if username %}
				<a class={{dropdown_item(is_course_list_active)}} href="/courses/list">
					My Courses
				</a>
				<a class={{dropdown_item(is_course_create_active)}} href="/courses/create">
					Create New
				</a>
			{% else %}
				<a class={{dropdown_item(is_course_list_active)}}>
					Must sign in to view courses
				</a>
			{% endif %}
		</div>
	</li>
	#}
{% endmacro %}

{% macro resources_navbar_item() %}
	<li class="nav-item {{set_active_if(is_resources_active)}}">
		<a class="nav-link" href="/resources"> 
			Resources 
		</a>
	</li>
{% endmacro %}

{% macro assignments_navbar_item() %}
	<li class="nav-item {{set_active_if(is_assignments_active)}}">
		<a class="nav-link" href="/assignments">
			Assignments
		</a>
	</li>
{% endmacro %}

{% macro submissions_navbar_item() %}
	{% if not isStudent %}
		<li class="nav-item {{set_active_if(is_submissions_active)}}">
			<a class="nav-link" href="/submissions">
				Submissions
			</a>
		</li>
	{% endif %}
{%endmacro%}

{% macro logout_or_login_navbar_item() %}
	{# NOTE:(khanh): 
		logout will only display when the user has already logged in, 
		login will only display when the user has not logged in yet
	#}
	{% if username %}
		<li class="nav-item {{set_active_if(is_logout_active)}}">
			<a class="nav-link" href="/logout"> 
				Logout 
			</a>
		</li>
	{% else %}
		<li class="nav-item {{set_active_if(is_login_active)}}">
			<a class="nav-link" href="/login_redirect"> 
				Login 
			</a>
		</li>
	{% endif %}
{% endmacro %}




<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

		<title> Better Canvas </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dropdown.css') }}">
	</head>
	<body>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		{% block nav %}
		{#
			NOTE:(khanh): to set a link active on the navbar, set the appropriate variable to True before extending base, ie: 
				{% set is_<what>_active = True %}
				{% extends "base.html" %}
		#}

		<!-- links go here for index.html -->
		<nav class="navbar navbar-expand-lg navbar-light navbar-bg-color">
			<a class="navbar-brand" href={{redirectable_link(is_home_active, "/", "/redirect")}}>
				Simpler Canvas
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{{announcements_navbar_item()}}
					{{people_navbar_item()}}
					{{courses_navbar_item()}}
					{{resources_navbar_item()}}
					{{assignments_navbar_item()}}
					{{submissions_navbar_item()}}
					{{logout_or_login_navbar_item()}}

				</ul>
				{# NOTE:(khanh): do something with the search bar? 
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				#}
			</div>
		</nav>
		{% endblock %}


		<header> 
			{% if username %} 
				Logged in as 
				{% if isStudent %} student: {% else %} teacher: {% endif %} 
				{{username}} 
			{% else %}
				Not logged in
			{% endif %} 
		</header>


		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p><br>
			{% endfor %}
		{% endif %}
		{% endwith %}

		{% block content %} 
		<!-- generalized content goes in this block -->
		{% endblock %}
		<script type="text/javascript" src="{{url_for('static', filename='js/input.js')}}"></script>
    </body>
</html>

