<html>
    <head>
        <title> Better Canvas </title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>

    <header> 
        Simpler Canvas -
        <a href="/"> HOME</a>
        {% if username %}  - Signed in as {{username}} (
            {% if isStudent %} Student {% else %} Teacher {% endif %} )
        {% endif %} 
    </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p><br>
			{% endfor %}
            {% endif %}
        {% endwith %}

	{% block nav %}
		<!-- links go here for index.html -->
	{% endblock %}

	{% block content %} 
		<!-- generalized content goes in this block -->
	{% endblock %}
    </body>
</html>

